<footer class="footer">
    <div class="footer-content">
      <p>© 2025 האתר של ריקי&נועה. כל הזכויות שמורות.</p>
      <div class="footer-links">
        <a href="#">אודות</a>
        <a href="#">צור קשר</a>
        <a href="#">תנאי שימוש</a>
      </div>
      <p></p>
      <div class="footer-socials">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-telegram"></i></a>
      </div>
    </div>
  </footer>